.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.modal_bg {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
}

.modal_block {
  background: #fff;
  position: absolute;
  z-index: 100;
  border-radius: 20px;
  padding: 10px;
  padding-top: 40px;
}

.modal_close {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.5s;
}

.modal_close:hover,
.modal_close:focus {
  color: #a8245a;
}
